#
# Minimal terraform code for your example:
# ----------------------------------------------------------------------------

data "az-confidential_password" "confidential_password" {
  content = "{{ .EncryptedContent }}"

  {{- if .DefinesWrappingCoordinate }}
  wrapping_key = {
    {{- if .WrappingKeyCoordinate.DefiesVaultName }}
        vault_name = "{{ .WrappingKeyCoordinate.VaultName }}"
    {{- end }}
    {{- if .WrappingKeyCoordinate.DefiesKeyName }}
        name = "{{ .WrappingKeyCoordinate.KeyName }}"
    {{- end }}
    {{- if .WrappingKeyCoordinate.KeyVersion }}
        version = "{{ .WrappingKeyCoordinate.KeyVersion }}"
    {{- end }}
    {{- if .WrappingKeyCoordinate.Algorithm }}
        version = "{{ .WrappingKeyCoordinate.Algorithm }}"
    {{- end }}
  }
  {{- end }}

}