#
# Minimal terraform code for your example:
# ----------------------------------------------------------------------------

resource "az-confidential_certificate" "{{ .TFBlockName }}" {
  content = <<-CIPHERTEXT
         {{- range $value := fold80 .EncryptedContent.TerraformExpression }}
         {{ $value }}
         {{- end }}
         CIPHERTEXT

  {{- if .EncryptedContentMetadata.HasProviderConstraints }}
  # The ciphertext constraints the placement with a provider bearing either of these labels:
  {{- range $value := .EncryptedContentMetadata.ProviderConstraints }}
  # - {{ $value }}
  {{- end }}
  {{- else }}
  # The ciphertext does not place any specific constraints on the provider. Any provider will be able
  # to create any object out of this ciphertext, provided it has access to the decrypt the ciphertext.
  # This may be INSUFFICIENTLY secure configuration. Consider adding provider labels to improve your
  # security posture.
  {{- end }}
  {{- if .EncryptedContentMetadata.HasPlacementConstraints }}
  # The ciphertext LOCKS the destination secret address. Changing the `destination_cert` argument
  # will result in an error.
  {{- else }}
  # The ciphertext does NOT lock the destination certificate's address. It can be changed later.
  {{- end }}
  {{- if .EncryptedContentMetadata.IsWeaklyProtected }}
  # ---------------------------------------------------------------------------
  # INSECURE ENCRYPTION WARNING! READ CAREFULLY BEFORE PROCEEDING!
  #
  # This ciphertext does NOT embed any secondary controls. This means that any az-confidential
  # provider instance would be able to unwrap it, provided it has access to the wrapping key.
  # Although this might be safe in your specific context, please weight the risk
  # of an accidental or malicious copying of this certificate e.g. across environments.
  {{- end }}

  # This certificate is enabled for operation. Optionally, there is an option
  # to temporarily disable it.
  enabled = true

  # The certificate version cannot be used before this date
  # Needs to be formatted yyyy-mm-ddTHH:MM:SS'Z'
  # not_before_date = "{{ .NotBeforeExample }}"

  # The certificate version cannot be used after this date
  # Needs to be formatted yyyy-mm-dd'T'HH:MM:SS'Z'
  # not_after_date = "{{ .NotAfterExample }}"

    tags = {
      {{- if .Tags.HasTags }}
      {{- range $key, $value := .Tags.TerraformValueTags }}
      {{ $key }} = {{ $value }}
      {{- end }}
      {{- else }}
      # Fill the tags as desired
      # tagName =  "TagValue"
      {{- end }}
    }

    destination_certificate = {
    {{- if .DestinationCoordinate.VaultName.IsDefined }}
        vault_name = {{ .DestinationCoordinate.VaultName.TerraformExpression }}
    {{- else }}
        # Vault name will be inferred from the key vault where the wrapping key is stored.
        # If this is not what you want, specify the destination vault explicitly
    {{- end }}
        name = {{ .DestinationCoordinate.ObjectName.TerraformExpression }}
    }

    {{- if not .WrappingKeyCoordinate.IsEmpty }}
       wrapping_key = {
       {{- if .WrappingKeyCoordinate.VaultName.IsDefined }}
           vault_name = {{ .WrappingKeyCoordinate.VaultName.TerraformExpression }}
       {{- end }}
       {{- if .WrappingKeyCoordinate.KeyName.IsDefined }}
           name = {{ .WrappingKeyCoordinate.KeyName.TerraformExpression }}
       {{- end }}
       {{- if .WrappingKeyCoordinate.KeyVersion.IsDefined }}
           version = {{ .WrappingKeyCoordinate.KeyVersion.TerraformExpression }}
       {{- end }}
       {{- if .WrappingKeyCoordinate.Algorithm.IsDefined }}
           version = "{{ .WrappingKeyCoordinate.Algorithm.TerraformExpression }}"
       {{- end }}
     }
    {{- end }}
}