# ----------------------------------------------------------------------------
#
# Azure KeyVault Secret
#
# The resource creates a secret version in the specified Key Vault service.
# Secret version in Key Vault are immutable, their value cannot be changed
# after these were created. To update a secret, create a new version
# and delete the one previously created.
# ----------------------------------------------------------------------------

resource "az-confidential_keyvault_secret" "{{ .TFBlockName }}" {
  content = <<-CIPHERTEXT
       {{- range $value := fold80 .EncryptedContent.TerraformExpression }}
       {{ $value }}
       {{- end }}
       CIPHERTEXT
  {{ .EncryptedContentMetadata.CiphertextAppraisal }}

  # This secret is enabled for operation. Optionally, there is an option
  # to temporarily disable it.
  enabled = true

  # If the secret version should nto used before a specific date,
  # it needs to be formatted yyyy-mm-ddTHH:MM:SS'Z'
  # not_before_date = "{{ .NotBeforeExample }}"

  # If the secret version cannot be used after this date
  # it needs to be formatted yyyy-mm-dd'T'HH:MM:SS'Z'
  # not_after_date = "{{ .NotAfterExample }}"
  {{if .IncludeTags }}
  tags = {
      {{- if .HasTags }}
      {{- range $key, $value := .TerraformValueTags }}
      {{ $key }} = {{ $value }}
      {{- end }}
      {{- else }}
      # Fill the tags as desired
      # tagName = "TagValue"
      {{- end }}
    }
  {{- end }}

  destination_secret = {
    {{- if .DestinationCoordinate.VaultName.IsDefined }}
      vault_name = {{ .DestinationCoordinate.VaultName.TerraformExpression }}
    {{- else }}
      # Vault name will be inferred from the key vault where the wrapping key is stored.
      # If this is not what you want, specify the destination vault explicitly
      # vault_name = "... the name of the vault where you want this secret ..."
    {{- end }}
      name = {{ .DestinationCoordinate.ObjectName.TerraformExpression }}
  }

  {{- if not .WrappingKeyCoordinate.IsEmpty }}
    wrapping_key = {
      {{- if .WrappingKeyCoordinate.VaultName.IsDefined }}
          vault_name = {{ .WrappingKeyCoordinate.VaultName.TerraformExpression }}
      {{- end }}
      {{- if .WrappingKeyCoordinate.KeyName.IsDefined }}
          name = {{ .WrappingKeyCoordinate.KeyName.TerraformExpression }}
      {{- end }}
      {{- if .WrappingKeyCoordinate.KeyVersion.IsDefined }}
          version = {{ .WrappingKeyCoordinate.KeyVersion.TerraformExpression }}
      {{- end }}
      {{- if .WrappingKeyCoordinate.Algorithm.IsDefined }}
          algorithm = "{{ .WrappingKeyCoordinate.Algorithm.TerraformExpression }}"
      {{- end }}
    }
    {{- end }}
}