#
# Minimal terraform code for your example:
# ----------------------------------------------------------------------------

data "az-confidential_password" "confidential_password" {
    content = <<-CIPHERTEXT
           {{- range $value := fold80 .EncryptedContent.TerraformExpression }}
           {{ $value }}
           {{- end }}
           CIPHERTEXT

    {{- if .HasCiphertextLabels }}
    # The ciphertext above bears the following label(s):
    {{- range $value := .CiphertextLabels }}
    # - {{ $value }}
    {{- end }}
    #
    # Labels are not considered confidential; however, you may want to remove
    # these before checking in this source code into your source control repo.
    {{- else }}
    # ---------------------------------------------------------------------------
    # INSECURE ENCRYPTION WARNING! READ CAREFULLY BEFORE PROCEEDING!
    #
    # This ciphertext does NOT include any labels. This means that any az-confidential
    # provider would be able to unwrap it, provided it has access to the wrapping key.
    # Although this might be safe in your specific context, please weight the risk
    # of an accidental or malicious copying of this secret e.g. across environments.
    {{- end }}

    {{- if not .WrappingKeyCoordinate.IsEmpty }}
      wrapping_key = {
        {{- if .WrappingKeyCoordinate.VaultName.IsDefined }}
            vault_name = {{ .WrappingKeyCoordinate.VaultName.TerraformExpression }}
        {{- end }}
        {{- if .WrappingKeyCoordinate.KeyName.IsDefined }}
            name = {{ .WrappingKeyCoordinate.KeyName.TerraformExpression }}
        {{- end }}
        {{- if .WrappingKeyCoordinate.KeyVersion.IsDefined }}
            version = {{ .WrappingKeyCoordinate.KeyVersion.TerraformExpression }}
        {{- end }}
        {{- if .WrappingKeyCoordinate.Algorithm.IsDefined }}
            version = "{{ .WrappingKeyCoordinate.Algorithm.TerraformExpression }}"
        {{- end }}
      }
    {{- end }}
}