#
# Minimal terraform code for your example:
# ----------------------------------------------------------------------------

data "az-confidential_password" "confidential_password" {
  content = "{{ .EncryptedContent }}"

  {{- if not .WrappingKeyCoordinate.IsEmpty }}
      wrapping_key = {
        {{- if .WrappingKeyCoordinate.VaultName.IsSpecified }}
            vault_name = {{ .WrappingKeyCoordinate.VaultName.TerraformExpression }}
        {{- end }}
        {{- if .WrappingKeyCoordinate.KeyName.IsSpecified }}
            name = {{ .WrappingKeyCoordinate.KeyName.TerraformExpression }}
        {{- end }}
        {{- if .WrappingKeyCoordinate.KeyVersion.IsSpecified }}
            version = {{ .WrappingKeyCoordinate.KeyVersion.TerraformExpression }}
        {{- end }}
        {{- if .WrappingKeyCoordinate.Algorithm.IsSpecified }}
            version = "{{ .WrappingKeyCoordinate.Algorithm.TerraformExpression }}"
        {{- end }}
      }
  {{- end }}

}