# ----------------------------------------------------------------------------
#
# Azure API Management Named Value Resource
#
# The resource allows importing pre-set named values into an API management
# service. Although the same can be achieved with Key Vault integration, in
# some cases this approach will prove more advantageous owing to the lowered
# churn of Key Vault objects.
#
# ----------------------------------------------------------------------------

resource "az-confidential_apim_named_value" "{{ .TFBlockName }}" {
   content = <<-CIPHERTEXT
            {{- range $value := fold80 .EncryptedContent.TerraformExpression }}
            {{ $value }}
            {{- end }}
            CIPHERTEXT

  {{- if .EncryptedContentMetadata.HasProviderConstraints }}
  # The ciphertext constraints the placement with a provider bearing either of these labels:
  {{- range $value := .EncryptedContentMetadata.ProviderConstraints }}
  # - {{ $value }}
  {{- end }}
  {{- else }}
  # The ciphertext does not place any specific constraints on the provider. Any provider will be able
  # to create any number of named values out of this ciphertext, provided it has access to the decrypt
  # the ciphertext. This may be INSUFFICIENTLY secure configuration. Consider adding provider labels to
  # improve your security posture.
  {{- end }}
  {{- if .EncryptedContentMetadata.HasPlacementConstraints }}
  # The ciphertext LOCKS the destination named value address. Changing the `destination_named_value` argument
  # will result in an error.
  {{- else }}
  # The ciphertext does NOT lock the destination named value's address. It can be changed later.
  {{- end }}
  {{- if .EncryptedContentMetadata.IsWeaklyProtected }}
  # ---------------------------------------------------------------------------
  # INSECURE ENCRYPTION WARNING! READ CAREFULLY BEFORE PROCEEDING!
  #
  # This ciphertext does NOT embed any secondary controls. This means that any az-confidential
  # provider instance would be able to unwrap it, provided it has access to the wrapping key.
  # Although this might be safe in your specific context, please weight the risk
  # of an accidental or malicious copying of this named value e.g. across environments.
  {{- end }}

    {{- if .Tags.IncludeTags }}
    tags = [
      {{- if .Tags.HasTags }}
      {{- range $value := .Tags.TerraformValueTags }}
      {{ $value }},
      {{- end }}
      {{- else }}
      # Fill the tags as desired
      # "TagValue"
      {{- end }}
    ]
    {{- end }}

    # Confidential values created from the sensitive ciphertext are best kept secret, meaning that
    # these will be hidden on the Portal display
    secret = true

    # A display name of this named value. It doesn't play a role in the actual operation;
    # whereas it's great to give it a descriptive name. If it is not specified, it is
    # inferred from the name of the destination named value.
    # display_name = "confidential named value"

    destination_named_value = {
        {{- if .DestinationNamedValue.AzSubscriptionId.IsDefined }}
        az_subscription_id = {{ .DestinationNamedValue.AzSubscriptionId.TerraformExpression}}
        {{- else }}
        # Specify a Azure subscription id where the APIM instance is created
        az_subscription_id = "...specify the subscription..."
        {{- end }}
        {{- if .DestinationNamedValue.ResourceGroupName.IsDefined }}
        resource_group = {{ .DestinationNamedValue.ResourceGroupName.TerraformExpression}}
        {{- else }}
        # Specify a Azure resource group  id where the APIM instance is created
        resource_group = "...specify the resource group name..."
        {{- end }}
        {{- if .DestinationNamedValue.ServiceName.IsDefined }}
        api_management_name = {{ .DestinationNamedValue.ServiceName.TerraformExpression}}
        {{- else }}
        # Specify a Azure APIM service name
        api_management_name = "...specify the APIM service name..."
        {{- end }}
        {{- if .DestinationNamedValue.NamedValue.IsDefined }}
        name = {{ .DestinationNamedValue.NamedValue.TerraformExpression}}
        {{- else }}
        # Specify the name this named value should use; may contain
        # only letters, digits, periods, dashes and underscores
        name = "...specify the APIM named value..."
        {{- end }}
    }

    {{- if not .WrappingKeyCoordinate.IsEmpty }}
      wrapping_key = {
        {{- if .WrappingKeyCoordinate.VaultName.IsDefined }}
            vault_name = {{ .WrappingKeyCoordinate.VaultName.TerraformExpression }}
        {{- end }}
        {{- if .WrappingKeyCoordinate.KeyName.IsDefined }}
            name = {{ .WrappingKeyCoordinate.KeyName.TerraformExpression }}
        {{- end }}
        {{- if .WrappingKeyCoordinate.KeyVersion.IsDefined }}
            version = {{ .WrappingKeyCoordinate.KeyVersion.TerraformExpression }}
        {{- end }}
        {{- if .WrappingKeyCoordinate.Algorithm.IsDefined }}
            algorithm = "{{ .WrappingKeyCoordinate.Algorithm.TerraformExpression }}"
        {{- end }}
      }
      {{- end }}
}