# ----------------------------------------------------------------------------
#
# Azure API Management Subscription Resource
#
# The resource allows importing pre-set subscription primary and secondary
# ke values into the API management service. The subscription is linked with
# an API or Product if required.
#
# When no explicit scope is specified, the subscription is associated with
# all APIs.
# ----------------------------------------------------------------------------

resource "az-confidential_apim_subscription" "{{ .TFBlockName }}" {
   content = <<-CIPHERTEXT
            {{- range $value := fold80 .EncryptedContent.TerraformExpression }}
            {{ $value }}
            {{- end }}
            CIPHERTEXT

   {{ .EncryptedContentMetadata.CiphertextAppraisal }}

   {{ if .DisplayName.IsDefined }}
   display_name = {{ .DisplayName.TerraformExpression }}
   {{- else }}
   # If desired, you can assign a specific display name to this subscription.
   # If display name is not assigned, it defaults to the subscription Id
   # display_name="ConfidentialSubscription"
   {{- end }}

   {{- if .State.IsDefined }}
   state = {{ .State.TerraformExpression }}
   {{- else }}
   # If desired, you can change the state of this subscription. The default
   # for this resource is to create active subscription
   # state = "active"
   {{- end }}

   {{- if .AllowTracing.IsDefined }}
   allow_tracing = {{ .AllowTracing.TerraformExpression }}
   {{- else }}
   # If desired, you can modify allow tracing parameter
   # allow_tracing = true
   {{- end }}

    destination_subscription = {
        {{- if .DestinationSubscription.AzSubscriptionId.IsDefined }}
        az_subscription_id = {{ .DestinationSubscription.AzSubscriptionId.TerraformExpression}}
        {{- else }}
        #
        # It is possible to specify an Azure subscription id if provider does not have a default one,
        # or if subscription has to be created in a APIM service in a different subscription.
        # az_subscription_id = "...specify the subscription..."
        {{- end }}
        {{- if .DestinationSubscription.ResourceGroupName.IsDefined }}
        resource_group = {{ .DestinationSubscription.ResourceGroupName.TerraformExpression}}
        {{- else }}
        #
        # Specify a Azure resource group  id where the APIM instance is created
        resource_group = "...specify the resource group name..."
        {{- end }}
        {{- if .DestinationSubscription.ServiceName.IsDefined }}
        api_management_name = {{ .DestinationSubscription.ServiceName.TerraformExpression}}
        {{- else }}
        #
        # Specify a Azure APIM service name
        api_management_name = "...specify the APIM service name..."
        {{- end }}
        {{- if .DestinationSubscription.SubscriptionId.IsDefined }}
        subscription_id = {{ .DestinationSubscription.SubscriptionId.TerraformExpression}}
        #
        {{- else }}
        #
        # You can specify the identifier for this subscription; leave empty to
        # have a subscription Id to be generated (it will be uuid-based).
        # subscription_id = "...specify the APIM subscription id..."
        {{- end }}
        {{- if .DestinationSubscription.ProductId.IsDefined }}
        product_id = {{ .DestinationSubscription.ProductId.TerraformExpression}}
        {{- else }}
        #
        # Specify the API product this subscription refers to
        # product_id = "...specify the APIM product this subscription will be associated with..."
        {{- end }}
        {{- if .DestinationSubscription.ApiId.IsDefined }}
        api_id = {{ .DestinationSubscription.ApiId.TerraformExpression}}
        {{- else }}
        #
        # Specify the API this subscription will be bound with
        # api_id = "...specify the API this subscription will be associated with..."
        {{- end }}
        {{- if .DestinationSubscription.UserId.IsDefined }}
        user_id = {{ .DestinationSubscription.UserId.TerraformExpression}}
        {{- else }}
        #
        # Specify the API this subscription will be bound with
        # user_id = "...specify the user Id "
        {{- end }}
    }

    {{- if not .WrappingKeyCoordinate.IsEmpty }}
      wrapping_key = {
        {{- if .WrappingKeyCoordinate.VaultName.IsDefined }}
            vault_name = {{ .WrappingKeyCoordinate.VaultName.TerraformExpression }}
        {{- end }}
        {{- if .WrappingKeyCoordinate.KeyName.IsDefined }}
            name = {{ .WrappingKeyCoordinate.KeyName.TerraformExpression }}
        {{- end }}
        {{- if .WrappingKeyCoordinate.KeyVersion.IsDefined }}
            version = {{ .WrappingKeyCoordinate.KeyVersion.TerraformExpression }}
        {{- end }}
        {{- if .WrappingKeyCoordinate.Algorithm.IsDefined }}
            algorithm = "{{ .WrappingKeyCoordinate.Algorithm.TerraformExpression }}"
        {{- end }}
      }
      {{- end }}
}